*{
    box-sizing: border-box;    
}
.container{
    background-color: hsl(0, 0%, 32%);
    height: 100vh;
}
.box{
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;
    max-height: 50%;
}
.pagination{
    text-align: center;
}
.pagination a{
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}
.pagination a.active{
    background-color: rgb(26, 226, 0);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: rgb(201, 201, 191);
    color: rgb(0, 0, 0);
    border-radius: 5px;
}